# Python virtual environment
myenv/
venv/

# Node
node_modules/

# Environment files
.env
.env.*

# Build files
build/
dist/

# Django specific
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
db.sqlite3-journal
media/

# ML models
ml_models/
*.pkl


__pycache__/
*.pyc
db.sqlite3
node_modules/
.env
